
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif, weight 500;
    --secondary-font: "Lato", sans-serif;
    --primary-color: #2f5d3a; /*Deep Forest green*/ 
    --secondary-color: #5EAB85;/*minty-green*/ 
    --highlight-color: #e8e5df; /*soft stone*/
    --highlight-color-light: #f3eedd /*beige*/;
}

/* Global styles */
body {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-weight: 400;
    height: 100%;
}
h1, 
h2, h3 {
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--secondary-color);
}
p { 
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 400;
}

/*navbar*/
.navbar {
    background-color: var(--primary-color);
    text-transform: uppercase;
}
.nav-logo {
    height: 30px;
    max-width: 30px;
}
.nav-link { 
    color: var(--highlight-color)
}
#navbarNav .nav-link:hover {
    color: var(--secondary-color);
}
.navbar-toggler {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color-light);
}
/*header*/
header {
    background-color:var(--highlight-color-light);
    font-size: large;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem; 
}
.opening-message {
    margin-top: 50px;
    color:var(--primary-color);
}
 .meet-the-directors {
    color:var(--primary-color)
}

/*main content*/
main {
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    color: var(--primary-color);
    padding-left: 2rem;
    padding-right: 2rem;
    }
.logo {
    height:auto;
    max-width: 350px;
}
.logo-home {
    margin-top: 4rem;
    max-width: 350px;
    height:auto;
}
.carousel-item img {
    max-height: 200px;
    object-fit: cover;
    height: auto;
    width: auto;
}
p {
    color:var(--primary-color);
}
.home-btn {
    justify-content: center;
}
/*footer*/
footer {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    
}
footer i {
    margin-bottom: 1rem;
    color: var(--highlight-color);
    padding-right: 0.5rem;
    
}
footer h3 {
    color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    text-transform: uppercase;
}
footer p {
    color:var(--highlight-color)
}
.card { 
    background-color:transparent;
    border:transparent;
}
.table {
    margin-top: 20px;
}
address {
    color: var(--highlight-color);
}
i frame {
    margin-top: 20px;
}
/*queries*/
@media (min-width: 768px) {
    .logo {
        max-width: 220px;
        height:auto;
    }
    .logo-home {
        max-width: 350px;
        height: auto;
    }
}

@media (min-width: 991px) {
    .logo {
       max-width: 420px;
       height:auto;
    }
    .logo-home {
        max-width: 420px;
        height:auto;
    }
}
