
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif, weight 500;
    --secondary-font: "Lato", sans-serif;
    --primary-color: #2f5d3a; /*Deep Forest green*/ 
    --secondary-color: #5EAB85;/*minty-green*/ 
    --highlight-color: #e8e5df; /*soft stone*/
    --highlight-color-light: #B9C44C /*light yellow-green*/;
}

/* Global styles */
body {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    height:100%;
    margin:0;
}
h1, 
h2, h3 {
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--highlight-color-light);
}
p { 
    color: var(--highlight-color);
    font-family: var(--secondary-font);
    font-weight: 400;
}

/*navbar*/
.navbar {
    background-color: var(--primary-color);
    text-transform: uppercase;
}
.nav-logo {
    height: 30px;
    max-width: 30px;
}
.nav-link { 
    color: var(--highlight-color)
}
#navbarNav .nav-link:hover {
    color: var(--highlight-color-light);
}
.navbar-toggler {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}
/*header*/
header {
    background-color: #2f5d3a;
    font-size: large; 
}
.logo {
    height:50%;
    width: auto;
}
.carousel-item img {
    max-height: 300px;
    object-fit: cover;
    height: auto;
    width: auto;
}
.opening-message {
    margin-top: 50px;
}
/*main content*/
main {
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    color: var(--highlight-color);
    }
.director-image {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.director-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*footer*/
footer {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    
}
footer i {
    margin-bottom: 1rem;
    color: var(--highlight-color);
    padding-right: 0.5rem;
    
}
footer h3 {
    color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card { 
    background-color:transparent;
    border:transparent;
}
.table {
    margin-top: 20px;
}
address {
    color: var(--highlight-color);
}
i frame {
    margin-top: 20px;
}
/*queries*/